<header id="page-header" class="d-print-none">
    <nav id="top-nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand mb-0 fw-bold">matthew x. curinga</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="toggle nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav">
                    {% assign nav_pages = site.pages | sort:"order" | where: "sitemap", true %}
                    {% for nav in nav_pages %}
                    <li id="{{nav.id}}" class="nav-item">
                        {% if page.url == nav.url %}
                        <a href="{{nav.url}}" class="nav-link active">{{nav.nav-title}}</a>
                        {% else %}
                        <a href="{{nav.url}}" class="nav-link">{{nav.nav-title}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a href="/mxc-gpg.txt" class="nav-link">GPG Key</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>