<!DOCTYPE html>
<html lang="en">
<head>
<!--
  __  ____   _______ 
 |  \/  \ \ / / ____|
 | \  / |\ V / |     
 | |\/| | > <| |     
 | |  | |/ . \ |____ 
 |_|  |_/_/ \_\_____|

matthew x. curinga
http://matt.curinga.com
-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="date" content="">

    <meta name="author" content="mxc">
    <title>{{ page.title }}</title>


    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
    @media print
    {
        @page 
        {       
           @top-right
            {
                content: "Matthew X. Curinga – {{ page.title }}";
           }
       }
    }
    </style>

</head>
<body>
    <header id="page-header">

        <nav id="top-nav" class="navbar navbar-default navbar-fixed-top">
            <div class="container ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">matthew x. curinga</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="main-nav">
                    <ul class="nav navbar-nav">
                        <li id="index" class="nav-item"><a class="nav-link" href="index.html">about</a></li>
                        <li id="cv" class="nav-item"><a class="nav-link" href="cv.html">cv</a></li>
                        <li id="writing" class="nav-item"><a class="nav-link" href="writing.html">writing</a></li>
                        <li id="software" class="nav-item"><a class="nav-link" href="software.html">software</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
    </header>
    <div id="main" class="container">
        <section id="content">
            {{ content }}
        </section>
    </div>
    <footer class="container">

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

</body>
</html>
