<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0;">
<head>
<!--
  __  ____   _______ 
 |  \/  \ \ / / ____|
 | \  / |\ V / |   
 | |\/| | > <| |   
 | |  | |/ . \ |____ 
 |_|  |_/_/ \_\_____|

matthew x. curinga
https://matt.curinga.com
-->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="mxc">
  <title>{{ page.title }}</title>


  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
  
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<style type="text/css">
  @media print
  {
    @page 
    {     
       @top-right
      {
        content: "Matthew X. Curinga – Resume";
       }
     }
  }
  </style>

</head>
<body class="" style="margin: 0; padding: 0;">

<div id="main" class="resume container pt-0 mt-0">
<section id="content" class=" pt-0 mt-0">

    <div class="text-end d-block contact-links pt-0 mt-0">
        <h2 class="pt-0 mt-0">Matthew X. Curinga</h2>
        <p class="">323 Lincoln Pl Apt 2L<br>
            Brooklyn, New York 11238</p>
        <a href="tel:1-917-335-0829" class="text-primary-emphasis d-block mb-1">917.335.0829&nbsp;<i
            class="bi bi-phone"></i></a>
        <a href="mailto:matt@curinga.com" class="text-primary-emphasis d-block mb-1">matt@curinga.com&nbsp;<i
            class="bi bi-envelope"></i></a>
    </div>

    <div class="px-3 pt-3">{{ content }}</div>

</section>
</div>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>
