<!DOCTYPE html>
<html lang="en">

<head>
<!--
  __  ____   _______ 
 |  \/  \ \ / / ____|
 | \  / |\ V / |   
 | |\/| | > <| |   
 | |  | |/ . \ |____ 
 |_|  |_/_/ \_\_____|

matthew x. curinga
https://matt.curinga.com
-->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="mxc">
  <title>{{ page.title }}</title>


  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono|Source+Sans+Pro:400,700' rel='stylesheet'
    type='text/css'>
  <style type="text/css">
    @media print {
      @page {
        @top-right {
          content: "Matthew X. Curinga – {{ page.title }}";
        }
      }
    }
  </style>

</head>

<body>
  {% include header.html %}

  <div id="main" class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex flex-wrap justify-content-between">
        {% for project in site.data.software | sort:"order" %}
          {% if project.portfolio == "1" %}
              <a href="{{project.link}}" class="d-block border rounded-2 col-6"
              data-bs-toggle="tooltip" data-bs-title="{{project.title}}">
                <img src="{{project.thumb}}" 
                class="img-fluid" alt="{{project.alt}}">
              </a>
            {% endif %}
        {% endfor %}
      </div>
      </div>
      <div class="col-md-8">
        <section id="content" class="">
          <div class="">
            {{ content }}
          </div>
        </section>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script>
    // get all elements with the class carousel
    let carousels = document.querySelectorAll('.carousel');
    // activate each element with new bootstrap.Carousel()
    carousels.forEach((carousel) => {
      new bootstrap.Carousel(carousel, {
        interval: 5000,
        wrap: true,
        keyboard: true
      });
    });
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

</script>
</body>

</html>