<!DOCTYPE html>
<html lang="en">
<head>
<!--
  __  ____   _______ 
 |  \/  \ \ / / ____|
 | \  / |\ V / |   
 | |\/| | > <| |   
 | |  | |/ . \ |____ 
 |_|  |_/_/ \_\_____|

matthew x. curinga
https://matt.curinga.com
-->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="mxc">
  <title>{{ page.title }}</title>


  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
  
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<style type="text/css">
  @media print
  {
    @page 
    {     
       @top-right
      {
        content: "Matthew X. Curinga – Resume";
       }
     }
  }
  </style>

</head>
<body class="bg-dark-subtle" style="margin: 0; padding: 0;">

<div id="main" class="resume container">
<section id="content" class="">
    <div class="row my-3">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-3">
                        <img src="img/mxc-csed-bw.jpg" alt="matt curinga" class="img-fluid rounded-circle">
                    </div>
                    <div class="col d-flex">
                        <div class="align-self-center">
                            <h1 class="mb-1">Matthew X Curinga</h1>
                            <div class="mb-1"><strong>programmer / researcher / teacher</strong></div>
                            <div class=""><strong><i class="bi bi-geo-fill"></i> Brooklyn, New York</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-end d-block contact-links">
                    <a href="mailto:matt@curinga.com" class="text-primary-emphasis d-block mb-2">matt@curinga.com&nbsp;<i
                        class="bi bi-envelope"></i></a>
                    <a href="https://matt.curinga.com" title="go to the personal website of matt curinga"
                       class="text-primary-emphasis d-block mb-2">matt.curinga.com&nbsp;<i class="bi bi-link"></i></a>
                    <a href="https://github.com/mcuringa" title="github repos"
                       class="text-primary-emphasis d-block mb-2">mcuringa&nbsp;<i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="MainCol col-md-9">{{ content }}</div>
        <div class="SkillCol col">
            <div class="border-start border-secondary ps-2">
                
                <h3 class="my-0">Python</h3>
                <div class="bg-secondary my-1 rounded-3" style="height:3px">
                    <div class="bg-primary" style="height:3px; width: 100%"></div>
                </div>
                <small>Pandas, Numpy, GeoPandas, Flask, Django, NLTK, circuit/micropython</small>
                
                <h3 class="mb-0">Javascript & Web</h3>
                <div class="bg-secondary my-1 rounded-3" style="height:3px">
                    <div class="bg-primary" style="height:3px; width: 100%"></div>
                </div>
                <small>React, Node, d3, Leaflet, HTML, CSS</small>
                
                <h3 class="mb-0">Java</h3>
                <div class="bg-secondary my-1 rounded-3" style="height:3px">
                    <div class="bg-primary" style="height:3px; width: 90%"></div>
                </div>
                <small>Android, Spring, Hibernate, JSP, JFX</small>
                
                <h3 class="mb-0">Databases</h3>
                <div class="bg-secondary my-1 rounded-3" style="height:3px">
                    <div class="bg-primary" style="height:3px; width: 80%"></div>
                </div>
                <small>Oracle, Postgress, MongoDB, Firebase</small>
                
                <h3 class="mb-0">PHP</h3>
                <div class="bg-secondary my-1 rounded-3" style="height:3px">
                    <div class="bg-primary" style="height:3px; width: 60%"></div>
                </div>
                <small>Wordpress templates/plugins, Drupal</small>
                
                <h3 class="mb-0">Spanish</h3>
                <div class="bg-secondary my-1 rounded-3" style="height:3px">
                    <div class="bg-primary" style="height:3px; width: 85%"></div>
                </div>
                <h3 class="mb-0">Italian</h3>
                <div class="bg-secondary my-1 rounded-3" style="height:3px">
                    <div class="bg-primary" style="height:3px; width: 50%"></div>
                </div>
                <h3 class="mb-0">Interests &amp; Hobbies</h3>
                <small>Cooking, Biking, Kayak Polo, Running</small>
            </div>



        </div>
        

    </div>

</section>
</div>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>
